{% if page.url contains '404' or page.url contains 'subscribed' %}
{% else %}
<!-- begin subscribe -->
<section class="subscribe section">
  <div class="container">
    <div class="row">
      <div class="col col-12">

        <div class="subscribe__inner">
          <div class="subscribe__info">
            <h3 class="subscribe__title">{{ site.data.settings.mailchimp__settings.mailchimp__title }}</h3>
          </div>

          <div class="subscribe__widget">
            <givebutter-widget id="j2ORva"></givebutter-widget>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- end subscribe -->
{% endif %}